/* ==================
チャットボットのcss
================== */

.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.c-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 432px;
  width: 100%;
  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* チャットボット意外の横幅 */
.container {
  padding: 0 1rem;
}

.c-grid__answer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 230px;
}

.p-chat__bubble {
  background: #fff;
  border-radius: 4px;
  border: solid 1px #6bb8ff;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  margin-right: 1rem;
  max-width: 80%;
  width: auto;
}

.p-chat__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
}

.p-chat__reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.p-question__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.p-question__description {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  line-height: 1.7;
}

/* ==================
Homeのcss
================== */
.home {
  background-color: #6bb8ff;
}
.homeTitle {
  text-align: center;
  margin-top: 200px;
  font-size: 7rem;
  color: #fff;
}
.homeButton {
  margin: 0 119px;
  text-align: center;
  background-color: #ffb549;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
}
/* ==================
症状ページのcss
================== */
.over {
  overflow: auto;
  height: 440px;
}

.answerTitle {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.answerSymptomatology {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 4rem;
}

.symptoms {
  font-weight: bold;
  font-size: 3rem;
  color: #333;
}

.symptoms-left {
  padding-right: 15rem;
}
.symptoms-right {
  padding-left: 20rem;
}

.symptomsList {
  list-style: none;
  padding-left: 0;
}

.symptomsListItem {
}

.secondTitle {
  border: 1px solid #6bb8ff;
  border-radius: 8px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  padding: 1rem 2rem;
  margin: 3rem 2rem 3rem;
}

.symptomsText {
  margin: 0 2rem;
  color: #333;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.symptomsTextSpan {
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
}

.symptomsTextEm {
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;
}

.symptomsSubList {
  list-style: inside;
  padding-left: 2rem;
}

.symptomsSubListItem {
  color: #333;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.searchButton {
  padding: 0 1rem;
  width: 100%;
  height: 50px;
  margin-top: 22px;
  border: none;
  border-radius: 0 0 4px 4px;
  background-color: #ffb549;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ==================
チャットボット、症状ページのヘッダーcss
================== */
.header {
  /*  position: relative; */
  position: relative;
  top: 0;
  height: 100vh;
  height: 60px;
  background-color: #6bb8ff;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
}

/* ==================
ハンバーガー
================== */

.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p-hamburger {
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 0;
  right: 100px;
  width: 48px;
  height: 48px;
  margin: 0 0 0 370px;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.p-hamburger:hover,
.p-hamburger:focus {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: inherit;
  transition: inherit;
  text-align: center;
}
.hamburger__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 11px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
}
.to-top {
  top: -2rem;
}
.to-bottom {
  bottom: -2rem;
}

/* .p-hamburger__line::before, */
/* .p-hamburger__line::after { */
/* content: ""; */
/* position: absolute; */
/* display: block; */
/* width: 100%; */
/* height: 100%; */
/* background-color: inherit; */
/* -webkit-transition: inherit; */
/* transition: inherit; */
/* } */

.p-hamburger__line::before {
  top: -5px;
}

.p-hamburger__line::after {
  top: 5px;
}

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
